$secondary-color: #ecf0f1; // Clouds

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

html {
  // background-color: $secondary-color;

  body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
  }

  #calculator {
    width: 48vmin;
    height: 84vmin;
    color: $secondary-color;

    #result {
      background-color: $secondary-color;
      height: 8vmin;
      text-align: right;
      line-height: 8vmin;
      font-size: 4vmin;
      padding: 0 2vmin;
      color:#34495E;
    }

    #preview {
      background-color: $secondary-color ;
      height: 16vmin;
      text-align: right;
      line-height: 16vmin;
      font-size: 6vmin;
      padding: 0 2vmin;
      color:#34495E;
    }

    .key {
      padding: 0;
      height: 12vmin;
      box-sizing: border-box;
      text-align: center;
      line-height: 12vmin;
      font-size: 3vmin;

      // &:hover {
      //   background-color: $lighter-primary-color;
      // }

      // &:active {
      //   background-color: darken($primary-color, 5%);
      // }
    }

    .key-group {
      padding: 0;
      background-color: #7f8c8d;
    }

    #key-column{
      background-color: #36D7B7;
      color:#ecf0f1;
      padding: 0;
      height: 60vmin;
      box-sizing: border-box;
      text-align: center;
      line-height: 12vmin;
      font-size: 3vmin;

      // &:hover {
      //   background-color: $lighter-primary-color;
      // }

      // &:active {
      //   background-color: darken($primary-color, 5%);
      // }

    }
  }
} 
