$primary-color: #ecf0f1; // Clouds
$secondary-color:#7f8c8d;
$light-primary: #36D7B7;

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

html {

  body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
  }

  #calculator {
    width: 48vmin;
    height: 84vmin;
    color: $primary-color;

    #result {
      background-color: $primary-color;
      height: 8vmin;
      text-align: right;
      line-height: 8vmin;
      font-size: 4vmin;
      padding: 0 2vmin;
      color:#34495E;
    }

    #preview {
      background-color: $primary-color ;
      height: 16vmin;
      text-align: right;
      line-height: 16vmin;
      font-size: 6vmin;
      padding: 0 2vmin;
      color:#34495E;
    }

    .key {
      padding: 0;
      background-color:$secondary-color ;
      height: 12vmin;
      box-sizing: border-box;
      text-align: center;
      line-height: 12vmin;
      font-size: 3vmin;

      &:hover {
        background-color: darken($secondary-color, 5%);
      }

      &:active {
        background-color: darken($secondary-color, 10%);
      }
    }

    .key-group {
      padding: 0;
    }

    .key-column{
      background-color:$light-primary;
      color:#ecf0f1;
      padding: 0;
      height: 12vmin;
      box-sizing: border-box;
      text-align: center;
      line-height: 12vmin;
      font-size: 3vmin;

      &:hover {
        background-color: darken( $light-primary, 5%);;
      }

      &:active {
        background-color: darken( $light-primary, 10%);
      }

    }
  }
} 
